version: "3.9"
services:
  web:
    build: .
    container_name: onlinemix_web
    ports:
      - "8080:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
