.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #e0e0e0;
  text-align: center;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

button {
  padding: 8px 16px;
  font-size: 20px;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #45a049;
}

/* Модальное окно */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-width: 300px;
}

.modalButtons {
  display: flex;
  justify-content: space-between; // одна кнопка слева, другая справа
  gap: 20px; // отступ между кнопками
}

.modal h2 {
  margin: 0;
}

.startBtn {
  padding: 8px 16px;
  font-size: 18px;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.startBtn:hover {
  background-color: #45a049;
}

.closeBtn {
  padding: 6px 12px;
  font-size: 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.closeBtn:hover {
  background-color: #d32f2f;
}

select {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
}
